* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(251, 255, 0);
  }
  
  section.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
  }
  
  .firstdiv, .seconddiv {
    text-align: center;
    width: 100%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    
  }
  
  .items {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .item {
    width: 200px;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  
  .item-name{
    margin: 5px 0;
    font-size: 1.5rem;
    color: yellow;
    font-weight: 600;
  }
  
  .description {
    font-size: 0.8rem;
    color:yellow;
    font-weight: 300;
  }
  
  .item:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  .plusbutton{
    background-color: rgb(251, 255, 0);
    color: black;
    padding: 10px 13px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .btn-div {
    display: flex;
    justify-content: flex-end;
width: 100%;  
}
.item-img {
    width: 400px;
    object-fit: cover;
}
  .item-price {
    color: white;
  }
form{

    display: none;
    flex-direction: column;
   gap: 50px;
   background-color: grey;
   width: 500px;
   padding: 20px;
   border-radius: 20px;
   position: relative;
    margin: auto;
}
.Category{
    display: flex;
    gap: 30px;
}
.item-name{
    display: flex;
    gap: 30px;
}
.item-details{
    display: flex;
    gap: 30px;

}

.item-details input{

    width: 100%;
    height: 100px;
}
.item-details {
    display: flex;
    flex-direction: column;
}
input {
    padding: 20px;
    border-radius: 10px;
}
button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: yellow;
    border: none;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}
#invalid-category, #invalid-name, #invalid-price, invalid-details {
    color: red;
    display: none;
}


#image {
    width: 1000px;
}
